/**
* TODO: get styles according to layout
 */
div.ts-discount {
    display: block;
    float: right;
    margin: 15px 0 8px 0;
}
div.ts-discount > h3 {
    font-weight: bolder;
}
div.ts-discount > .promocode-container{
    border: 1px solid #11b400;
    width: 30%;
    padding: 10px;
    background-color: rgb(250, 250, 250);
    float: none;
}