<?php if ($this->isUserLogged() && !$this->isQtyPositive() && $this->isModuleEnabled()): ?>
    <div class="ts-discount">
        <h3>Dear Customer.</h3>
        <p>
            This product is not in stock now.
            Do not worry. Get Your promo code and buy upsell
            and related products with 5% discount.
        </p>
        <div class="promocode-container">
            <?php echo $this->getCode(); ?>
        </div>
    </div>
<?php endif; ?>